//pkgs.dev.azure.com/Techedge-Lux/_packaging/Techedge-Lux/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//pkgs.dev.azure.com/Techedge-Lux/_packaging/Techedge-Lux/npm/registry/:_password=cjJvNTRveDZzYXVmdmlnYmh6bWY0eTZpamJtaGlvY2tjbHl1ZW1mNHFxejRjaGk0a3FtYQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//pkgs.dev.azure.com/Techedge-Lux/_packaging/Techedge-Lux/npm/registry/:email=not-used@example.com
@lux:registry=https://pkgs.dev.azure.com/Techedge-Lux/_packaging/Techedge-Lux/npm/registry/
                        
always-auth=true